@media all and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        height: 100vh;
        background-image: url(/img/star.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    section{
        display: flex;
        justify-content: left;
        align-items: center;
    }
    form{
        border: solid 1px #2b88f3;
        box-shadow: 3px 3px 3px 3px #668DA1;
        display: flex;
        align-items: center;
        flex-direction: column; 
        border-radius: 20px;
        padding: 20px;
        width: 75%;
        height: 500px;
        margin-left: 20px;
        margin-top: 60px;
    }
    form h1{
        font-size: 20px;
        text-shadow: 1px 1px 1px #EED650;
        font-weight: bold;
        color: #EED650;
        margin-bottom: 20px;
        margin-top: 7px;
    }
    button{
        font-weight: bold;
        width: 253px;
        height: 52px;
        margin-top: 25px;
        border-radius: 20px;
        background-color: #2F4C60;
        color: #EED650;
        border: none;
        box-shadow: 3px 3px 3px 3px #668DA1;
        cursor: pointer;
    }
    nav{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        color: #000000;
        font-weight: bold;
    }
    nav a{
        color: #2F4C60;
    }
    nav p{
        margin-left: 5px;
    }
    .inputs{
        width: 80%;
        height: 12px;
        margin: 10px;
        border-radius: 20px;
        border: none;
        box-shadow: 3px 3px 3px 3px #668DA1;
        padding: 20px;
    }   
}
